html, body, #root {
  background: #111418 !important;
  min-height: 100vh !important;
  min-width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  scrollbar-color: #222 #181d28;
}